.Bod {
    display: flex;
    flex-direction: column;
    
    
}

.Intro,
.Gallery,
.Quote,
.Contact {
    display: flex;
    flex: 1, 1, 30%;
    padding: 20px;
}



.Header,
.Footer,
.Intro {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;

}

.links {
    display: flex;
    justify-content: space-evenly;
}

.Gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Cards {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.Intro .Title {
    font-size: 48px;
    font-style: extra-bold;
    color: #F9FAF8;
}

li,
.Intro .Subtitle {
    font-size: 18px;
    color: #e5e7eb;
}

.Quote {
    background-color: #e5e7eb;
    flex-direction: column;
}

.QuoteText {
    align-self: left;
}

.QuoteAttr {
    align-self: right;
}

.QuoteText,
.QuoteAttr {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.Contact {
    display: flex;
    justify-content: space-between;
}

.ContactContainer {
    display: flex;
    flex-direction: column;
}

.Contact,
button {
    background-color: #3882f6;
}

.Footer {
    justify-content: space-around;
}

.Footer .FooterText {
    color: #F9FAF8;
}





