.Header,
.Footer,
.Intro {
    background-color: #1F2937;
}

.Contact {
    background-color: #3882f6;
}

.Quote {
    background-color: #e5e7eb;
    
}

.QuoteText,
.QuoteAttr {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}